.board {
  z-index: 1;
}
.board .board-main {
  height: 80vh;
  background-color: #f0f0f0;
}

.Button{
    width:100px;
    height:30px;
    display: inline-block;
    margin: 0px 5px 0px 5px;
    text-align: center;
    color:white;
    background-color: #1296B2;
}

.TextBox{
  width:100%;
  height:100%;
  display:block;
  z-index: 2;
  position: relative;
  resize:none;
  font-size: 14px;

}
.Contain{
  width:0px;
  height:0px;
  z-index: 1;
  position: absolute;
}
.MoveBox{
  padding:10px;
  background-color:#1296B2;
  width:100px;
  cursor:move;
}

#black,#blue,#red,#yellow,#green{

  border-radius:25%;

}

#canvasDiv {
  z-index: 0;
}

#canvasDiv canvas{
  z-index: 0;
  position: relative;
  border-style: solid;
}

#canvasDiv canvas:hover{
  cursor: crosshair;
}
