.z-index {
  z-index: 1;
}
.card .mdl-card {
  width: 500px;
  /*height: 256px;*/
}
.card .mdl-card__title {
  color: #ffffff;
  background-color: #f44336;
}

.card img {
  display:block;
  margin:auto;
}

.card{
  display: inline-block;
}
